@font-face {
  font-family: "arabic-custom";
  src: url("./assets/fonts/TintaArabic-Light.otf");
}

.arabic-text {
  font-family: "arabic-custom", "Amiri", "Scheherazade New", serif;
  font-size: 32px;
  direction: rtl;
  text-align: right;
  line-height: 2.2;
}