* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 260px;
  background: #0f172a;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.brand {
  margin-bottom: 30px;
}

.brand h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.brand p {
  font-size: 14px;
  color: #94a3b8;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 12px;
}

.menu a {
  display: block;
  padding: 12px;
  border-radius: 10px;
  color: #e2e8f0;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  background: #1e293b;
  transform: translateX(5px);
}

.sidebar-footer {
  margin-top: 40px;
  font-size: 13px;
  color: #94a3b8;
}

.menu a:hover {
  background: #1e293b;
}

/* Footer Sidebar */
.sidebar-footer {
  margin-top: 40px;
  color: #94a3b8;
  font-size: 13px;
}

/* Konten */
.content {
  margin-left: 260px;
  padding: 20px;
  width: calc(100% - 260px);
}

/* Ayat */
.arabic-text {
  direction: rtl;
  text-align: right;
  font-size: 28px;
  line-height: 2;
}

/* Mobile */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .content {
    margin-left: 0;
    width: 100%;
  }
  .search-box {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  background: #1e293b;
  color: white;
}

.search-box::placeholder {
  color: #94a3b8;
}
}