* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-layout {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 260px;
  height: 100vh;
  background: #0f172a;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.3s;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar.hide {
  left: -260px;
}

.sidebar.show {
  left: 0;
}

.logo {
  margin-bottom: 20px;
}

.menu {
  list-style: none;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* Konten */
.main-content {
  width: 100%;
  padding: 20px;
  transition: 0.3s;
}

.main-content.shift {
  margin-left: 260px;
}

/* Tombol */
.menu-btn {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .main-content.shift {
    margin-left: 0;
  }
}